.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.git
README.md
LICENSE
node_modules
# !node_modules/punycode
# !node_modules/smiles-drawer
# !node_modules/chroma-js
!node_modules/canvas
# !node_modules/jsdom
# !node_modules/tough-cookie